<launch>
    <arg
	        name="run_rosbag"
	        default = "false"
    />
    <include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch">
	<arg name="world_file" value="$(find rescue_robot)/world/no_signs"/>
    </include>
    <node
        pkg="rescue_robot"
        name="walker"
        type="walker"
        output="screen"
    />
    <node
		pkg="rosbag"
		name="record"
		type="record"
		args="--duration=15 --all --output-name=$(find rescue_robot)/results/map_3BagFile.bag -x /camera/(.*)"
		if="$(arg run_rosbag)"
/>
</launch>
